@use '../../styles/abstract/variables' as *;
@use '../../styles/abstract/mixins' as *;

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px calc((100% - var(--max-width)) / 2);
  position: relative;
  margin: 0 5%;

  // * When toggler is pressed
  &.active &__background {
    visibility: visible;
    opacity: 1;
  }

  &__logo {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    width: 18rem;
  }

  // Button
  &__toggler {
    background: none;
    border: none;
    margin-left: auto;
    display: none;
    cursor: pointer;

    @media only screen and (max-width: $md) {
      display: inline-block;
    }
  }

  &__background {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;

    @media only screen and (max-width: $md) {
      background-color: var(--color-white);
      color: var(--color-black);
      box-shadow: 0 0.5rem 5rem rgba(#000, 0.3);

      position: absolute;
      top: 7rem;

      flex-direction: column;
      padding: 3rem 1.5rem;
      z-index: 100;

      visibility: hidden;
      opacity: 0;
    }
  }

  // Navigation
  &__nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin-right: auto;

    @media only screen and (max-width: $md) {
      text-align: center;
      flex-direction: column;
      align-items: center;

      width: 100%;
    }
  }
}

// Navigation
.nav {
  &__link {
    &,
    &:link,
    &:visited {
      cursor: pointer;
      user-select: none;
      text-transform: capitalize;
      display: inline-block;
      padding: 1.5rem 1rem;
      &:not(:last-child) {
        margin-right: 2rem;
      }

      color: var(--color-grey);
      text-decoration: none;
      transition: all 0.2s;

      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: var(--color-white);
      }

      @media only screen and (max-width: $md) {
        color: var(--color-secondary);
        font-weight: normal;
        &:not(:last-child) {
          margin-right: 0;
        }

        &:hover,
        &:active,
        &:focus {
          color: var(--color-black);
          text-decoration: none;
        }
      }
    }
  }

  @media only screen and (max-width: $md) {
    &__item:last-child {
      position: relative;
      margin-bottom: 3.5rem;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2rem;
        height: 1px;
        width: 100%;
        background-color: rgba(#18151a, 0.6);
      }
    }
  }
}
